
h2{

  position:absolute;

  width:100px;
  
  top:20px;
  left:400px;
  font-size:20px;
}
h3{

  position:absolute;

  width:100px;
  
  
  left:600px;
  font-size:20px;
}
h4{

  position:absolute;

  width:100px;
  height:100px;
  top:20px;
  left:800px;
  font-size:20px;
}
h5{

  position:absolute;

  width:100px;
  height:100px;
  top:20px;
  left:1000px;
  font-size:20px;
}
h6{

  position:absolute;

  width:100px;
  height:100px;
  top:20px;
  right:200px;
  font-size:20px;
}
h7{

  position:absolute;

  width:100px;
  height:100px;
  top:20px;
  right:100px;
  font-size:20px;
}


p{
  color:red;

}
