
.navbar{
  position: fixed;
  background-color: white;
  font-size=10px;
  top: 0;
    float:left;

}

.left_nav{
 position:absolute;
 width:50px;
 height:50px;
 font-size=20px;
}
.middle_nav{
  position:absolute;
  max-width :600px;
  margin: 0 auto;
  float:left;

}
.right_nav{
  position:absolute;
width:100px;
margin-left:650px;
    float:left;
}

.link{
position:absolute;
width:50px;
margin-left: 50px;
}




.left{
  max-width: 50%;
  position: relative;
  left: 0;
}
.middle{

}
.Shop{
}

p{
  color:red;

}
